.header {
    background-color: var(--laranja);
    padding: 1em;
}

.logo {
    width: 118.629px;
    height: 24px;
}

.header__container {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__lista {
    display: flex;
    gap: 6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.header__lista li a {
    text-decoration: none;
    color: var(--preto);
}

.header__container div {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    gap: 1.25em;
}

.header__botao-cadastro {
    text-decoration: none;
    border: solid var(--branco) 1px;
    padding: 10px 14px;
    color: var(--branco);
}

.header__botao-login {
    text-decoration: none;
    border: solid var(--branco) 1px;
    background-color: var(--branco);
    padding: 10px 38px;
    color: var(--preto);
}