body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.perfil {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1.5em;

}

.perfil__titulo {
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Poppins';
    margin-bottom: 10px;
}

.perfil__foto__editar {
    position: absolute;
    top: 290px;
    right: 710px;
}

.perfil__boas-vindas {
    text-align: center;
    font-size: 20px;
    font-weight: 700
}
 
.perfil__info {
    text-align: center;
    font-size: 20px;
    font-weight: 700
}
 
.perfil__info__dado {
    padding: 16px 0;
}
 
.perfil__info__dado__valor {
    font-size: 14px;
    font-weight: 600;
}
 
.perfil__info__dado__retorno {
    font-size: 14px;
    font-weight: 400;
}

.alterar-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
 
.botoes-links__botao-principal {
    background-color: white;
    color: #0A69AE;
    border: 1px #0A69AE solid;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-top: 22px;
    width: 170px;
    padding: 11px;
    font-size: 14px;
}

.botoes-links__botao-principal:hover {
    transform: scale(1.05);
    background-color: #0A69AE;
    color: white;
}

.alterar-perfil {
    display: flex;
    justify-content: center;
}

.alterar-perfil__pop-up {
    width: 500px;
    position: absolute;
    top: 90px;
    display: none;
    z-index: 300;
    justify-content: center;
    box-shadow: #131313 0 0 10px;
    align-items: center;
    background-color: white;
    padding: 30px;
}

.alterar-perfil__pop-up__formulario {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px; 
    align-items: center;
}

.alterar-perfil__pop-up__formulario__titulo {
    font-size: 24px;
    font-weight: 900;
    margin: 0px 0;
}

.ativar {
    display: flex;
}

.alterar-perfil__pop-up__fechar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.alterar-perfil__pop-up__fechar__botao {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.alterar-perfil__pop-up__formulario__dado {
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
}

.alterar-perfil__pop-up__formulario__valor {
    padding: 15px;
    border: 1px solid #ACACAC;
    margin-bottom: 7px;
    margin-top: 1px;
    transition: all linear 160ms;
    outline: none;
    border-radius: 4px;
    align-items: center;
    font-weight: 300;
    width: 300px;
}

.alterar-perfil__pop-up__formulario__valor:focus {
    border: 1px #0A69AE solid;
}
.alterar-perfil__botao-principal {
    background-color: #0A69AE;
    color: white;
    border: 1px #0A69AE solid;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    padding: 11px;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
}

.alterar-perfil__botao-principal:hover {
    transform: scale(1.05);
}

.alterar-perfil__botao-auxiliar{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-top: 10px;
}
.alterar-perfil__botao-auxiliar:hover{
    color: #0A69AE;
    transition: all 1s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}