@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url("reset.css");
@import url("header.css");
@import url("footer.css");
@import url("formulario.css");
/* @import url("redefinicao-senha-1.css");
@import url("redefinicao-senha-2.css");
@import url("cadastro.css"); */
@import url("perfil.css");

:root {
    --laranja: #EA9F30;
    --cinza-escuro: #707070;
    --cinza-claro: #A8A8A8;
    --preto: #000000;
    --branco: #FFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 100px;
}